<launch>

  <arg name="pkg_name" default="driver"/>
  <arg name="twist_ominibot" default="twist_to_ominibotV12"/>

  <!-- launch turtlebot3_autorace_detect_lane.launch before launch this file -->
  <rosparam command="load" file="$(find turtlebot3_autorace_control)/param/control_lane/automove.yaml" />

  <!-- launch extrinsic_camera_calibration file -->
   <include file="$(find turtlebot3_autorace_camera)/launch/turtlebot3_autorace_extrinsic_camera_calibration.launch">    
   </include>

  <!-- launch turtlebot3_autorace_detect_lane file -->
   <include file="$(find turtlebot3_autorace_detect)/launch/turtlebot3_autorace_detect_lane.launch">
   </include>

  <!-- lane control -->
  <node pkg="turtlebot3_autorace_control" type="control_lane_omnibot" name="control_lane" output="screen">
    <remap from="/control/lane" to="/detect/lane" />
  </node>

  <!-- Twist msgs to ominiBotHV1.2  -->
  <remap from="~cmd_vel" to="/control/cmd_vel"/>
  <node pkg="driver" type="smart_robot_twist_omnibotV12.py" name="$(arg twist_ominibot)"/>
  
</launch>
